<div class="container" id="branch">
  <div class="row ">
  <div class="col-sm-12 text-center ">
    <br><br>
<h1>Welcome to <%= "#{@store.branch_name}" %></h1>


<%= image_tag "store_#{@store.id}.jpg",class:"img-responsive"%>
<br>

  <%= button_to "Adopt a Pet", pets_path, {method: "get",class:'btn btn-big btn-primary'} %>
  <br>
  <%= button_to "Give a Pet", new_pet_path, {method: "get",class:'btn btn-big btn-primary'} %>
  </div>
  </div>
</div>
