<div class="container" id="branch">
  <div class="row ">
  <div class="col-sm-12 text-center ">
    <br><br>
    <div id="demotext">
      <h1 class="branch">Welcome to <%= "#{@store.branch_name}" %></h1>
    </div>


<%= image_tag "store_#{@store.id}.jpg",class:"img-responsive"%>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
  <%= button_to "Adopt a Pet", pets_path, {method: "get",class:'btn btn-big btn-primary'} %>
    </div>
    <div class="col-sm-6">
  <%= button_to "Give a Pet", new_pet_path, {method: "get",class:'btn btn-big btn-primary'} %>
    </div>
   </div>
  </div>
  </div>
  </div>
</div>
