<h1>Hello</h1>

<table>
  <tr>
    <td><%= link_to "Cat", cats_path %></td>
    <td><%= link_to "Dog", dogs_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Rabbit", rabbits_path %></td>
    <td><%= link_to "Hamster", hamsters_path %></td>
  </tr>
</table>
