
<div class="container-login300 text-center" style="background-image: url( <%= asset_path('bg-05.jpg') %>);">
<div class="middle2">

<h1> Is the pet previously adopted from our store? </h1>
<br>
  <div class="boolean">
  <%= button_to "Yes", new_existing_path , {method: :get,:class=>"btn btn-blue-grey waves-effect btn-lg"} %>
  <br>
  <%= button_to "No", new_giving_path, {method: :get,:class=>"btn btn-blue-grey waves-effect btn-lg"} %>
  </div>
</div>
</div>
