
<div class="container-login300" style="background-image: url( <%= asset_path('bg-05.jpg') %>);">
<div class="middle2">

  <%= label_tag "Is the pet previously adopted from our store?" %>
  <div class="button_to">
  <%= button_to "Yes", new_existing_path , method: :get %>
  <%= button_to "No", new_giving_path, method: :get %>
  </div>
</div>
