
<nav class="navbar navbar-expand-lg  navbar-inverse " >
  <a class="navbar-brand" href="#">J.T.S Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" id="nav_left">
      <li class="nav-item">
        <a class="nav-link" href="/stores">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Branch
        </a>
        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/stores/1">Queens</a>
          <a class="dropdown-item" href="/stores/2">Manhattan</a>
          <a class="dropdown-item" href="/stores/3">Long Island</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tips">Tips</a>
      </li>
  </ul>
  <ul class="navbar-nav navbar-right ml-md-auto">

      <% if !current_user %>
      <li><a  class="nav-item " href="/users/new">Sigup</a></li>
      <li><%= link_to "Login", login_path, method: :get %>
      <% else %>
      <li><%= link_to "Hello #{current_user.name}", current_user %></li>
      <li><%= link_to "Logout", logout_path, method: :delete %>
</li>
      <% end %>
  </ul>
  </div>
</nav>
